/* CSS para o modal de cadastro de professores */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 580px; 
  width: 100%;
  position: relative;
}

.modal h2 {
  font-size: 1.5rem;
  margin: 0 0 20px;
  display: inline-block;
  border-bottom: 5px solid #e4635c;
}


.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal .input-row label {
  width: 49%; 
}


.modal button[type="submit"] {
  background: #e4635c;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.modal button[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 5px 40px 10px #f79670;
  color: white;
}

.modal button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal input[type="checkbox"] {
  align-items: center;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.checkbox-group label {
  margin-right: 10px;
}

.modal label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px; 
}


.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  height: 30px; 
 
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.input-group {
  flex: 1;
  padding: 0 10px;
}